* {
      margin: 0;
      padding: 0;
}

body {
      font-family: Arial, sans-serif;
      background-color: #025c5c;
      color: #F2F2F2;
      margin-left: 200px;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      overflow: hidden;
}

#gameContainer {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      position: relative;
      gap: 50px;
}

.game-section {
      display: flex;
      flex-direction: column;
      align-items: center;
}

.game-section-text {
      padding-bottom: 20px;
}

#gameCanvas {
      background-color: #58508d;
      border: 5px solid #008585;
}

#scoreBoard {
      color: #ffd380;
      font-weight: bold;
      font-size: 24px;
}

#applesCounter {
      font-size: 18px;
      margin-top: 10px;
}

#leaderboard {
      border: 5px solid #008585;
      padding: 10px;
      width: 150px;
      overflow-y: auto;
      max-height: 50vh;
      margin-top: 77px;
      display: flex;
      flex-direction: column;
      align-items: center;
}

.leaderboard-title {
      color: #ffd380;
}

#scoreList {
      list-style: none;
}

#clearButton {
      position: fixed;
      background-color: #ffd380;
      padding: 5px;
      margin-top: 350px;
      border: 0;
}