@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

* {
      margin: 0;
      padding: 0;
}

body {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    transition: background 0.3s ease, color 0.3s ease;
}

body.light-theme {
    background-image: url('/src/background/background-light.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #000;
}

body.dark-theme {
    background-image: url('/src/background/background-dark.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
}

.burger-menu {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    width: 35px;
    height: 35px;
    cursor: pointer;
    z-index: 1001;
    background-color: #E5C185;
    border-radius: 50px;
}

body.dark-theme .burger-menu {
    background-color: #74A892;
}

.burger-bar {
    width: 17px;
    height: 4px;
    border-radius: 6px;
    background-color: #C7522A;
    transition: transform 0.3s ease;
}

body.dark-theme .burger-bar {
    background-color: #004343;
}

.menu {
    position: fixed;
    top: 0;
    left: -300px;
    width: 150px;
    height: 100%;
    background-color: #E5C185;
    color: white;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-left: 55px;
    transition: left 0.3s ease;
    z-index: 1000;
    align-content: center;
}

body.dark-theme .menu {
    background-color: #74A892;
}

.menu a {
    color: white;
    text-decoration: none;
    margin: 15px 0;
    font-size: 20px;
    text-shadow:
          1px 1px 0px black,
          -1px -1px 0px black,
          1px -1px 0px black,
          -1px 1px 0px black;
}

.menu.show {
    left: 0;
}

#main-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 70px;
    gap: 30px;
    padding: 0 20px;
}

.column {
    flex: 1;
    padding: 20px;
    margin-top: 12%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.column-title {
    color: white;
    font-size: 40px;
    text-shadow:
          2px 2px 0px black,
          -2px -2px 0px black,
          2px -2px 0px black,
          -2px 2px 0px black;
}

.column-btn {
    font-family: "Jersey 10", sans-serif;
    font-size: 16px;
    background-color: white;
    color: #C7522A;
    padding: 10px 20px;
    border: #C7522A 3px solid;

}

body.dark-theme .column-btn {
    color: #74A892;
    border: #74A892 3px solid;
}

.note-column {
    max-width: 400px;
}

.note-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 3px solid #F0DAA5;
}

body.dark-theme .note-input {
    border: 3px solid #74A892;
}

.note-list {
    max-height: 400px;
    overflow-y: auto;
}

.note {
    color: white;
    font-size: 20px;
    text-shadow:
          1px 1px 0px black,
          -1px -1px 0px black,
          1px -1px 0px black,
          -1px 1px 0px black;
    margin: 10px 0;
}

.toggle-theme {
    cursor: pointer;
    background-color: #333;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}

.game-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-section-title {
    color: white;
    font-size: 100px;
    text-shadow:
          2px 2px 0px #C7522A,
          -2px -2px 0px #C7522A,
          2px -2px 0px #C7522A,
          -2px 2px 0px #C7522A;
    margin-bottom: 40px;
}

body.dark-theme .game-section-title {
    text-shadow: 
      2px 2px 0px #74A892,  
      -2px -2px 0px #74A892, 
      2px -2px 0px #74A892, 
      -2px 2px 0px #74A892;
}

table {
    margin: auto;
    border-collapse: collapse;
}

td {
    width: 100px;
    height: 100px;
    border: 2px solid #C7522A;
    background-color: white;
    cursor: pointer;
    font-size: 60px;
    line-height: 100px;
    text-align: center;
}

body.dark-theme td {
    border: 2px solid #74A892;
}

.player-o {
    color: #004343;
}

#restartButton {
    font-family: "Jersey 10", sans-serif;
    font-size: 16px;
    background-color: white;
    color: #C7522A;
    padding: 10px 20px;
    border: #C7522A 3px solid;
    margin-top: 20px;
}

body.dark-theme #restartButton {
    color: #74A892;
    border: #74A892 3px solid;
}