@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
* {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}

body {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    transition: background 0.3s, color 0.3s;
    background-image: url('/src/background/background-light.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow-y: hidden;
}

body.dark-mode {
    background-image: url('/src/background/background-dark.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 280px;
}
.container-title {
    font-size: 55px;
    color: white;
    text-shadow:
        4px 4px 0px #C7522A,
        -4px -4px 0px #C7522A,
        4px -4px 0px #C7522A,
        -4px 4px 0px #C7522A;
}

body.dark-mode .container-title {
    text-shadow: 
      4px 4px 0px #74A892,  
      -4px -4px 0px #74A892, 
      4px -4px 0px #74A892, 
      -4px 4px 0px #74A892;
}

.game-list {
    margin-top: 60px;
    list-style: none;
    padding: 0;
}
.game-list li {
    margin: 20px 0;
}
.game-list a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    text-shadow:
            1px 1px 0px black,
            -1px -1px 0px black,
            1px -1px 0px black,
            -1px 1px 0px black;
}

.timer-container {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 20px 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.timer-text {
    font-size: 12px;
    color: white;
    text-shadow:
            1px 1px 0px black,
            -1px -1px 0px black,
            1px -1px 0px black,
            -1px 1px 0px black;
}

#timer {
    font-size: 16px;
    background-color: white;
    color: #C7522A;
    padding: 3px;
    border: #F0DAA5 3px solid;
    width: 40%;
}

body.dark-mode #timer {
    color: #74A892;
    border: #74A892 3px solid;
}

.timer-btns {
    display: flex;
    flex-direction: row;
    gap: 20px;
    cursor: pointer;
}

button {
    margin-top: 5px;
    font-size: 12px;
    background-color: white;
    color: #C7522A;
    padding: 7px 10px;
    border: #C7522A 3px solid;
    font-family: "Press Start 2P", system-ui;
}

body.dark-mode button {
    color: #74A892;
    border: #74A892 3px solid;
}

#time-left {
    font-size: 16px;
    color: white;
    text-shadow:
            1px 1px 0px black,
            -1px -1px 0px black,
            1px -1px 0px black,
            -1px 1px 0px black;
}

.theme-switch {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    font-size: 16px;
    color: white;
    text-shadow:
            1px 1px 0px black,
            -1px -1px 0px black,
            1px -1px 0px black,
            -1px 1px 0px black;
}

#character-container {
    position: absolute;
    bottom: -50px;
    right: 20px;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#speech-bubble {
    position: absolute;
    bottom: 190px; /* Располагаем над человечком */
    left: 50%;
    transform: translateX(-50%);
    background: white;
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    font-size: 10px;
    display: none; /* Скрыто по умолчанию */
    white-space: nowrap;
    opacity: 0; /* Начально скрыто */
    transition: opacity 1s ease; /* Плавное появление */
}

body.dark-theme #speech-bubble {
    color: black;
}

#coins-display {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 20px;
    padding: 8px 15px;
    background-color: inherit;
    z-index: 1000;
    text-shadow: 
        1px 1px 1px black,
        -1px -1px 1px black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    min-width: 100px;
    text-align: center;
    border: 2px solid #E5C185;
}

.coins-count{
    font-size: 14px;
}

#coins-display:hover {
    background-color: white;
    transition: all 0.3s ease;
}

body.dark-theme #coins-display {
    border-color: #74A892;
    background-color: inherit;
}

#coins-display .coin-icon {
    font-size: 24px;
}

@keyframes coin-pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

.coin-animation {
    animation: coin-pulse 0.8s;
}

/* Фон для модального окна */
.modal {
    display: none; /* По умолчанию скрыто */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Затемнение фона */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Контент модального окна */
.modal-content {
    width: 300px;  /* Увеличенный размер */
    height: 300px; /* Увеличенный размер */
    background-color: white; /* Непрозрачный фон */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: absolute;
    
    /* Центрирование */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Кнопка закрытия */
.close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 18px;
    cursor: pointer;
}

