@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}

.nickname {
    margin-top: 10px;
    font-size: 18px;
    color: #ffff;
    text-shadow:
        1px 1px 0px black,
        -1px -1px 0px black,
        1px -1px 0px black,
        -1px 1px 0px black;
}

body {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    transition: background 0.3s, color 0.3s;
    background-image: url('/src/background/background-light.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow-y: hidden;
}

body.dark-mode {
    background-image: url('/src/background/background-dark.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #fff;
}

.container {
    max-width: 1030px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 290px;
}

.container-title {
    font-size: 64px;
    color: white;
    text-shadow:
        4px 4px 0px #C7522A,
        -4px -4px 0px #C7522A,
        4px -4px 0px #C7522A,
        -4px 4px 0px #C7522A;
}

body.dark-mode .container-title {
    text-shadow:
        4px 4px 0px #74A892,
        -4px -4px 0px #74A892,
        4px -4px 0px #74A892,
        -4px 4px 0px #74A892;
}

.game-list {
    margin-top: 50px;
    list-style: none;
    padding: 0;
}

.game-list li {
    margin: 25px 0;
}

.game-list a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    text-shadow:
        1px 1px 0px black,
        -1px -1px 0px black,
        1px -1px 0px black,
        -1px 1px 0px black;
}

.timer-container {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 20px 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.timer-text {
    font-size: 12px;
    color: white;
    text-shadow:
        1px 1px 0px black,
        -1px -1px 0px black,
        1px -1px 0px black,
        -1px 1px 0px black;
}

#timer {
    font-size: 12px;
    background-color: white;
    color: #C7522A;
    padding: 3px;
    border: #F0DAA5 3px solid;
    width: 40%;
    font-family: "Press Start 2P", system-ui;
}

body.dark-mode #timer {
    color: #74A892;
    border: #74A892 3px solid;
}

.timer-btns {
    display: flex;
    flex-direction: row;
    gap: 20px;
    cursor: pointer;
}

button {
    margin-top: 5px;
    font-size: 10px;
    background-color: white;
    color: #C7522A;
    padding: 7px 10px;
    border: #C7522A 3px solid;
    font-family: "Press Start 2P", system-ui;
}

body.dark-mode button {
    color: #74A892;
    border: #74A892 3px solid;
}

#time-left {
    font-size: 14px;
    color: white;
    text-shadow:
        1px 1px 0px black,
        -1px -1px 0px black,
        1px -1px 0px black,
        -1px 1px 0px black;
}

.theme-switch {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    font-size: 14px;
    color: white;
    text-shadow:
        1px 1px 0px black,
        -1px -1px 0px black,
        1px -1px 0px black,
        -1px 1px 0px black;
}

#character-container {
    position: absolute;
    bottom: -50px;
    right: 20px;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#speech-bubble {
    position: absolute;
    bottom: 190px;
    /* Располагаем над человечком */
    left: 50%;
    transform: translateX(-50%);
    background: white;
    padding: 10px 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    font-size: 10px;
    display: none;
    /* Скрыто по умолчанию */
    white-space: nowrap;
    opacity: 0;
    /* Начально скрыто */
    transition: opacity 1s ease;
    /* Плавное появление */
}

body.dark-mode #speech-bubble {
    color: black;
}

#coins-display {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 20px;
    padding: 8px 15px;
    background-color: inherit;
    z-index: 1000;
    text-shadow:
        1px 1px 1px black,
        -1px -1px 1px black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    min-width: 100px;
    text-align: center;
    border: 2px solid #E5C185;
    margin-top: 10px;
}

body.dark-mode #coins-display {
    border: 2px solid #74A892;
}

.coins-count {
    font-size: 14px;
}

#coins-display:hover {
    background-color: white;
    transition: all 0.3s ease;
}

#coins-display .coin-icon {
    font-size: 24px;
}

@keyframes coin-pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.coin-animation {
    animation: coin-pulse 0.8s;
}

/* Фон для модального окна */
.modal {
    display: none;
    /* По умолчанию скрыто */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Затемнение фона */
    justify-content: center;
    align-items: center;
    z-index: 10000;
    /* Убедитесь, что модальное окно поверх всего */
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10000;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #F0DAA5;
    padding: 30px;
    border-radius: 15px;
    max-width: 600px;
    width: 90%;
    text-align: center;
    position: relative;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

body.dark-mode .modal-content {
    background-color: #004343;
    color: #74A892;
}

.survey-form {
    margin: 20px 0;
}

.form-group {
    margin-bottom: 20px;
}

.modal-title {
    margin-bottom: 20px;
    font-size: 28px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
}

.form-group select {
    width: 80%;
    padding: 10px;
    border-radius: 8px;
    border: 3px solid #C7522A;
    font-family: "Press Start 2P", system-ui;
    font-size: 10px;
}

body.dark-mode .form-group select {
    border-color: #74A892;
}

#submit-survey,
#close-modal {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 10px;
    cursor: pointer;
}

.recommendations {
    margin-top: 20px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    display: none;
}

.recommendations-title {
    margin-bottom: 15px;
}

#recommended-time {
    margin-bottom: 10px;
}

body.dark-mode .recommendations {
    background-color: rgba(116, 168, 146, 0.2);
}