*{
      margin: 0;
      padding: 0;
}

body {
      font-family: Arial, sans-serif;
      background-color: #111E26;
      color: #F2F2F2;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      overflow: hidden;
}

#gameContainer {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: stretch;
      position: relative;
      gap: 50px;
}

.game-section {
      display: flex;
      flex-direction: column;
      align-items: center;
}

.game-section-text {
      padding-bottom: 20px;
}

#gameCanvas {
      background-color: black;
      border: 2px solid #F2F2F2;
}

#scoreBoard {
      color: #D7F205;
      font-weight: bold;
      font-size: 24px;
}

#applesCounter {
      font-size: 18px;
      margin-top: 10px;
}

#leaderboard {
      text-align: left;
      padding: 10px;
      border: 1px solid #F2F2F2;
      background-color: #222c32;
      width: 300px;
      max-height: 70vh;
      overflow-y: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
}

.leaderboard-title {
      color: #D7F205;
}

#scoreList {
      list-style: none;
}

#pauseIcon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 50px;
      color: rgba(255, 255, 255, 0.7);
      z-index: 10;
      display: none;
}

#clearButton {
      background-color: #D7F205;
      padding: 5px;
      border: 0;
}