body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #70c5ce;
    overflow: hidden;
}
#gameContainer {
    display: flex;
    position: relative;
}
canvas {
    background-color: #70c5ce;
    border: 1px solid black;
}
#scoreText {
    position: absolute;
    top: 10px;
    left: 20px;
    color: black;
    font-size: 20px;
}
#pauseText {
    position: absolute;
    top: 20px;
    left: 20px;
    color: black;
    font-size: 20px;
    display: none;
}
#recordPanel {
    width: 200px;
    height: 600px;
    background-color: rgba(255, 255, 255, 0.7);
    border-left: 2px solid black;
    padding: 20px;
    font-size: 18px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#recordPanel h2 {
    margin: 0;
    padding-bottom: 10px;
    text-align: center;
}
#recordText {
    white-space: pre-line;
    overflow-y: auto;
    max-height: 400px;
    padding-bottom: 10px;
}
